<div id="myIcon" *ngIf="isLoading">
  <img src="../assets/loadingIcon2.gif" alt="" />
</div>
<button (click)="getData()">Get Data</button>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th>
          <a href="#"
            ><i class="fas fa-download" (click)="downloadData()"></i
          ></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of data">
        <td>{{ obj.id }}</td>

        <td>{{ obj.name }}</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.username }}</td>
        <td>
          <input type="checkbox" name="" id="" (click)="selectUser(obj)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <router-outlet></router-outlet> -->
